<div class="standing-board">
    <header>
        <div class="stats">
            <p><span>drivers: </span> {{ drivers.length }}</p>
            <p><span>Total points: </span> {{ sumPoints() }}</p>
        </div>
        <h1>Driver Standings</h1>
        <img src="http://www.libertymedia.com/images/f1-red2x.png" alt="Smiley face" width="80">
    </header>

    <div class="info-row info-header">
        <div class="driver-info">
            <p>Position | Name</p>
            <p>Nationality</p>
            <p>Team</p>
        </div>
        <div class="points">
            <p>Points</p>
        </div>
    </div>
    <div class="info-row driver" ng-repeat="driver in drivers | orderBy: ['-points', 'driver']">
        <div class="driver-info">
            <p>
                <button class="remove-driver" ng-click="deleteDriver(driver)">
                    ✖
                </button>
                {{ $index + 1 }} |
                <span ng-click="getTeam(driver.team)" class="driver-name">
                    {{ driver.driver.split(" ")[0] }}
                    <strong>{{ driver.driver.split(" ")[1] }}</strong>
                </span>
            </p>
            <p>{{ driver.country }}</p>
            <p>{{ getTeamName(driver.team) }}</p>
        </div>

        <div class="counter">
            <button class="counter-action decrement" ng-click="driver.points = driver.points - 1">
                -
            </button>
            <span class="counter-score">{{ driver.points }}</span>
            <button class="counter-action increment" ng-click="driver.points = driver.points + 1">
                +
            </button>
        </div>
    </div>
</div>