<div class="standing-board">
  <header>
    <div class="stats">
      <!-- <p><span>Number of drivers: </span> {{ teamDrivers.length }}</p> -->
      <p><span>Team: </span> {{ teamDetail.team }}</p>
      <p><span>Car: </span> {{ teamDetail.car }}</p>
      <p><span>Total points: </span> {{ sumPoints() }}</p>
    </div>
    <h1>Driver Standings</h1>
    <img src="http://www.libertymedia.com/images/f1-red2x.png" alt="Smiley face" width="80">
  </header>
  <!-- <span ng-click="goBackToStandings()">Back</span> -->
  <a href="/">Back</a>

  <div class="drivers-header list-header">
    <div class="driver-info">
      <p>Position | Name</p>
      <p>Nationality</p>
      <p>Team</p>
    </div>
    <div class="points">
      <p>Points</p>
    </div>
  </div>
  <div class="drivers-header list" ng-repeat="driver in teamDrivers track by $index | orderBy: ['-points', 'driver']">
    <div class="driver-info">
      <!-- <img src="https://requestreduce.org/images/car-racing-flags-clipart-5.png" alt="raceCar" width="80" /> -->
      <p>
        <button class="remove-driver" ng-click="deleteDriver(driver)">
          ✖
        </button>
        <!-- <a href="#!/{{ driver.team }}">{{ driver.driver }}</a> -->
        <!-- {{ getRacePosition(driver.driver) }} | -->
        {{ $index + 1 }} |
        <span>
          {{ driver.driver.split(" ")[0] }}
          <strong>{{ driver.driver.split(" ")[1] }}</strong>
        </span>
      </p>
      <p>{{ driver.country }}</p>
      <p>{{ teamDetail.team }}</p>
    </div>

    <div class="counter">
      <button class="counter-action decrement" ng-click="driver.points = driver.points - 1">
        -
      </button>
      <span class="counter-score">{{ driver.points }}</span>
      <button class="counter-action increment" ng-click="driver.points = driver.points + 1">
        +
      </button>
    </div>
  </div>

</div>