<div class="standing-board">
  <header>
    <div class="stats">
      <p><span>Team: </span> {{ teamDetail.team }}</p>
      <p><span>Car: </span> {{ teamDetail.car }}</p>
      <p><span>Total points: </span> {{ sumPoints() }}</p>
    </div>
    <h1>Team Standings</h1>
    <img src="http://www.libertymedia.com/images/f1-red2x.png" alt="Smiley face" width="80">
  </header>
  <div class="back-btn">
    <a href="/">Back</a>
  </div>
  <div class="info-row info-header">
    <div class="driver-info">
      <p>Position | Name</p>
      <p>Nationality</p>
      <p>Team</p>
    </div>
    <div class="points">
      <p>Points</p>
    </div>
  </div>
  <div class="info-row driver" ng-repeat="driver in teamDrivers track by $index + driver.driver">
    <div class="driver-info">
      <p>
        {{ getRacePosition(driver.driver) }} |
        <span>
          {{ driver.driver.split(" ")[0] }}
          <strong>{{ driver.driver.split(" ")[1] }}</strong>
        </span>
      </p>
      <p>{{ driver.country }}</p>
      <p>{{ teamDetail.team }}</p>
    </div>

    <div class="counter">
      <span class="counter-score">{{ driver.points }}</span>
    </div>
  </div>

</div>